body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px; /* Adjust this width as necessary */
    height: 100%;
    background-color: #333;
    box-sizing: border-box;
    padding-top: 20px;
    z-index: 1000; /* Ensure nav is above other content */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

header {
    position: relative;
    background-image: url('emy-nguyen-tnafznPigzw-unsplash.jpg'); /* Adjust the path as necessary */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 50px 0;
    margin-left: 200px; /* Ensure this matches the width of your nav */
}

main {
    margin-left: 200px; /* Ensure this matches the width of your nav */
    padding: 20px;
    box-sizing: border-box;
}

footer {
    color: #fff;
    background-color: #333;
    text-align: center;
    padding: 10px;
    margin-left: 200px; /* Ensure this matches the width of your nav */
}


article, section, aside {
    margin-left: 220px; /* Adjust the margin to not overlap with the fixed nav */
    margin: 1em;
    padding: 1em;
    border: 1px solid #ccc;
}

img {
    max-width: 100%;
    height: auto;
}

/* Table styling remains unchanged */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
  
th {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px;
    text-align: left;
}
  
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
  
tr:hover {
    background-color: #f5f5f5;
}
  
td:first-child, th:first-child {
    border-left: none;
}
  
td:last-child, th:last-child {
    border-right: none;
}
